/* General */
html, body{
	height: 100%;
}
body{
	font-family: 'Kaushan Script', cursive;
	/* Background pattern from subtlepatterns.com */
	background-image: url('../img/pattern.png');
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5%;
	min-height: 100%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
	font-size: 1.3em;
}
p {
	font-family: 'Montserrat', sans-serif;
}
/* Heading */

header {
	float:left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

#logo img {
	display: block;
	margin: 10px auto;
	width: 100px;
	height: auto;	
}

h1{
	
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.90em;
	margin: -5px 0 0;
	font-weight: normal;
}

/* Navigation */

nav {
	text-align: center;
	padding: 10px 0;
	margin: 25px 0 0;
	text-shadow: 2px 2px 10px #000;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/* Portfolio */

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}
#gallery img{ 
	border-radius: 5px;
	box-shadow: 2px 2px 5px #111;
  	
}
#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	border-radius: 5px;
}

#gallery li a p {
  padding: 2%;
  margin: 0;
  font-size: .8em;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 7px #222;
}

#gallery li:hover .arrow{
	border-color: #BD4800;	
}

/* Footer */

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	color: #FDFDFD;
	width: 100%;
	margin: -70px 0 0;
}
footer p {
	margin: 5px 0;
}
section{
	float: left;
	margin-top: 20px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 10px 5px 0;
}

/* About */
.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/* Contact */

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.linkedin a {
  background-image: url('../img/linkedin.png');
}

/* Colors */

body {
	color: #fff;
}

header {
	background: #133253;
	border-color: #011221;
}

nav {
  background: #011221;
}

h1 {
	color: #FFFFFF;
	text-shadow: 1px 1px 5px #000;
}
h2,h3 {
	color: #BD4800;
	text-shadow: 1px 1px 3px #000;
}

a {
  color: #BD4800;
}

nav a, nav a:visited, .contact-info a {
  color: #FDFDFD;
}

nav a.selected, nav a:hover ,.contact-info a:hover {
	color: #BD4800;
	text-shadow: 0px 3px 7px #000;
}
